* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

a,
button {
    transition: all 0.3s ease-out;
}

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.section-padding {
    padding: 4rem 0;
}

.section-bg-light {
    background: var(--light);
}

.m-auto {
    margin: auto;
}

.m-top {
    margin-top: 2rem;
}

a:focus,
button:focus,
button:hover,
input:focus,
input:hover {
    outline: none !important;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Raleway-regular";
}

.p-0 {
    padding: 0 !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


/* container */

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.btn {
    padding: 1rem 1.5rem;
    border-radius: 4px;
    border: none;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-family: "Raleway-SemiBold";
    border: 1px solid transparent;
}

.overflow-show {
    overflow: initial !important;
}